
header, footer {
    background-color: #234680;
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    color: white;
}

main {
    display: block;
}

h1 {
    font-size: 2.2em;
    line-height: 2rem;
    padding-bottom: 20px;
}

header img {
    height: auto;
}

body {
    margin: 30px;
}

h2 {
    padding-left: 30px;
    font-size: 1.5em;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    color: #515151;
}

ul {
    font-size: 1.2em;
    font-family: 'Lato', Helvetica, sans-serif;
    line-height: 2.3rem;
}

#footerlink {
    color: white;
}
#modified {
    color: #fff192;
}

