@media only screen and (min-width: 64rem) {
     nav button {
         display: none;
     }

      nav ul.hide {
          display: flex;
      }

      nav ul li {
          flex: 1 1 100%;
           align-items: center;
           justify-content: center;
      }

     nav ul {
         margin-left: 2%;
     }

     nav ul li {
         float: left;
     }

     nav ul li a {
         border: none;
         padding: 0.6rem 1rem;
     }

     .motto {
         font-size: 1.1rem;
     }

     /* --------grid-------- */
     .grid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
     }

     figure:hover {
         box-shadow: 0 0 70px #333;
     }

     figure img {
         filter: blur(0em);
         transition: filter 0.5s;
     }

     figure img[data-src] {
         filter: blur(0.2em);
     }

 }
